<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.planterior.helper.feature.auth.DebugAuthHarnessActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
