PLAN_FIREBASE_PLIST_PATH = /secure/path/to/development/GoogleService-Info.plist
GOOGLE_CLIENT_ID = example.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.example
PLAN_PLANT_ID_PROXY_BASE_URL = http:/$()/127.0.0.1:5201/planterior-helper-ios/us-central1/identifyPlant
PLAN_OPEN_WEATHER_PROXY_BASE_URL = https://example.invalid
